<nav>
  <div
    class="first-container"
    id="nav-content">
    <div class="nav-container">
      <div class="nav-row">
        <div class="nav-logo">
          <a routerLink="home">
            <img
              src="https://www.themoviedb.org/assets/2/v4/logos/312x276-primary-green-74212f6247252a023be0f02a5a45794925c3689117da9d20ffe47742a665c518.png"
              width="75px"
            />
          </a>
        </div>
        <div class="nav-controls">
          <button class="btn btn-large">
            <a (click)="onClick('discover')">Discover</a>
          </button>
          <button class="btn btn-large">
            <a (click)="onClick('toprate')">Top Rate</a>
          </button>
          <button class="btn btn-large">
            <a (click)="onClick('upcoming')">Upcoming</a>
          </button>
          <button class="btn btn-large">
            <a (click)="onClick('nowplaying')">Now Playing</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
