<div class="row">
  <div class="container">
    <h5>Popular Movies</h5>
    <div class="col s12 m4" *ngFor="let movie of movies" id="movie-get">
      <div class="card horizontal">
        <div class="card-image">
          <a routerLink="/movie/{{ movie.id }}">
            <img
              src="{{
                movie.poster_path != null
                  ? 'http://image.tmdb.org/t/p/w400/' + movie.poster_path
                  : 'https://www.intanonline.com/not-found.png'
              }}"
          /></a>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <div class="star-ratings">
              <div class="fill-ratings">
                <span
                  class="star"
                  [style.color]="movie.vote_average < 7 ? '#ffeb3b' : '#1b5e20'"
                  >★</span
                ><span class="vote">{{
                  movie.vote_average + " " + movie.original_language | uppercase
                }}</span>
                <p style="font-family: 'Oswald'; font-size: 20px;">
                  {{ movie.title }}
                </p>
                <span class="year-realease">{{
                  movie.release_date | date: "MMM dd yyyy"
                }}</span>
              </div>
            </div>
            <p>{{ movie.overview }}</p>
          </div>
          <div class="card-action">
            <a routerLink="/movie/{{ movie.id }}" style="color: #1b5e20;"
              >More Info</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container page-div">
  <div class="card">
    <ul class="pagination">
      <li class="{{ getparam == 1 ? 'disabled' : 'waves-effect' }}">
        <a *ngIf="getparam > 1" href="/movies/page/{{ getparam - 1 }}"
          ><i class="material-icons">chevron_left</i></a
        >
        <a *ngIf="getparam == 1"><i class="material-icons">chevron_left</i></a>
      </li>
      <li class="pages">
        <span
          >{{ getparam > 1 ? "Pages " : "Page " }}
          {{ getparam + " of " + allpage }}</span
        >
      </li>
      <li class="{{ getparam == allpage ? 'disabled' : 'waves-effect' }}">
        <a *ngIf="getparam < allpage" href="/movies/page/{{ getparam + 1 }}"
          ><i class="material-icons">chevron_right</i></a
        >
        <a *ngIf="getparam == allpage"
          ><i class="material-icons">chevron_right</i></a
        >
      </li>
    </ul>
  </div>
</div>

<!--
  <ul class="pagination">
      <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
      <span *ngFor="let item of contents">
         <li class="{{item != 1 ? 'waves-effect' : 'active'}}"><a href="#!">{{item}}</a></li>
      </span>
      <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
</ul> -->
