<div class="row">
  <div class="col s6 m3" *ngFor="let movie of movies">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img
          class="activator"
          src="http://image.tmdb.org/t/p/w400/{{ movie.poster_path }}"
        />
      </div>
      <div class="card-content">
        <p>{{movie.title}} ({{movie.release_date}}</p>
      </div>
    </div>
  </div>
</div>
<ul class="pagination">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  </ul>
